<footer class="footer">
  <div class="contact-div">
    <p class="p-contact">
      Phone:<a href="+48 223 456 789" class="a-contact">+48 223 456 789</a>
    </p>
    <p class="p-contact">
      E-mail:<a href="" class="a-contact">adress@email.com</a>
    </p>
  </div>
  <div class="page-scrol-container"><a href="" class="a-contact"></a></div>
  <div class="container">
    <p class="footer-desc">
      Made with ✨ by
      <a
        class="footer-link"
        href="https://goit.global/ua/"
        target="_blank"
        rel="noopener noreferrer"
      >
        Nataliia Kopychynska
      </a>
    </p>
  </div>
</footer>
