<header class="header">
  <div class="header-container">
    <nav class="nav-header">
      <div class="navigation-header">
        <svg class="icon-burger">
          <use
            href="../img/icon-platform.svg#icon-burger"
            width="20"
            height="20"
          ></use>
        </svg>
        <a class="nav-logo" href="./index.html" aria-label="Site logo">
          <svg class="nav-logo-icon">
            <use href="../img/icon-platform.svg#icon-logo-platform"></use>
          </svg>
        </a>
      </div>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html"
            >Privacy policy</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li> -->
      </ul>
    </nav>
  </div>
</header>
