<div class="menu-container menu-hidden">
  <!-- <div class="options-container" data-url="../dashboard.html">
    <svg class="menu-icon">
      <use
        href="../img/icon-platform.svg#icon-home"
        width="24px"
        height="24px"
      ></use>
    </svg>
    <p class="title-option-menu">Dashboard</p>
  </div> -->
  <div class="options-container" data-url="./popular-movie.html">
    <svg class="menu-icon">
      <use
        href="./img/icon-platform.svg#icon-movie"
        width="24px"
        height="24px"
      ></use>
    </svg>
    <p class="title-option-menu">Popular movie</p>
  </div>
  <div class="options-container" data-url="./galllery.html">
    <svg class="menu-icon icon-gallery">
      <use
        href="./img/icon-platform.svg#icon-gallery"
        width="24px"
        height="24px"
      ></use>
    </svg>
    <p class="title-option-menu">Gallery</p>
  </div>
</div>
<script type="module" src="./js/manu.js"></script>
