input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  font-weight: 368px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding-left: 16px;
  padding-right: 16px;
}

.feedback-form {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  flex-direction: row;
  gap: 16px;
  border-radius: 8px;
  padding: 24px;
  width: 408px;

  background: #fff;
  margin: 0 auto;
  /* margin-top: 80px; */
}

.input-form {
  height: 40px;
}

.input-form:hover,
.input-form:active,
.input-form:focus {
  outline: none;
  border: 1px solid #000;
  background-color: #fff;
}
